*.py[cod]
*.orig
/.hgignore~
/.gitignore~
/.hg/
/.hgtags
/.git/
/.tox/
.cache/
.coverage
/htmlcov/
*.py,cover
.pytest_cache
.python-version
.idea/
.ipynb_checkpoints/
/deb_dist/
/codebin/

/example/tmp/
/forks/
/bugs/
/builddocs/
/builddocs.zip
/build/
/dist/
/src/valuta.egg-info
#/src/valuta/var/
/hotfixes/
/MANIFEST.in~
/prof/
*.cprof
*.lprof
pycallgraph*.*
mprof.svg
mprofile_*.dat
profiler.py.prof
.mypy_cache/

/examples/db/
/examples/tmp/
/examples/logs/
/examples/media/cache/
/examples/django_example/settings/local_settings.py
/examples/static/
/examples/django_example/project/db.sqlite3
/examples/django_example/project/static/
/examples/sqlalchemy_example/

var/
